# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production
dist
build
out

# Dependency
node_modules

# Environment
.env
.env.local
.env.development.local

# Editor (Opsional tapi bagus)
.vscode/
.DS_Store